body { 
    background-color: #f1f5f8;
    font-family: 'Montserrat', sans-serif;
}

.masthead {
    background-color: #fff;
    height: auto;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-repeat: repeat;
    background-image: url("../images/pattern.png");
}

.masthead h1 { 
    font-weight: 600;
    font-size: 4em;
    color: #0c0a3e;
}

.masthead .row { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #00d9ff;
    border-color: #00d9ff;
    font-weight: 600;
    border-radius: 30px;
    padding: 15px 25px;
}
h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.outer-container h4 {
    font-size: 16px;
    font-weight: 600;
}

p { 
    font-size: 16px;
}

.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.feature {
    text-align: center;
}

.feature a {
    transition: 0.2s all;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

a:hover { 
    text-decoration: none;
}
.outer-container img {
    transition: 0.3s all;
}
.outer-container img:hover {
    opacity: 0.8;
}
#gamify, #weploy, #netball-queensland { background-color: #fff!important; }