.gigs li {
    list-style: none;
}

.footer {
    background-color: #1a2146;;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: -100px;
}

.footer p {
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.2em;
}

.profile-paragraph {
    text-align: justify;
    padding-top: 20px;
}